@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway Light'), local('Raleway-Light'), url(./../fonts/-_Ctzj9b56b8RgXW8FArifk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), url(./../fonts/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local('Raleway Bold'), local('Raleway-Bold'), url(./../fonts/JbtMzqLaYbbbCL9X6EvaI_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    src: local('Raleway Heavy'), local('Raleway-Heavy'), url(./../fonts/PKCRbVvRfd5n7BTjtGiFZPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(./../fonts/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(./../fonts/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(./../fonts/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(./../fonts/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(./../fonts/ObQr5XYcoH0WBoUxiaYK3_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(./../fonts/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'), url(./../fonts/R4a6fty3waPci7C44H8AjvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'), url(./../fonts/tI4j516nok_GrVf4dhunkg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* OVERALL ASPECT */

button, input, select, textarea {

    font-family: "Lato";

}

.btn-link {

    font-family: "Lato";
}

body {
    background-color: #fff;
    font-family: "Lato";
    font-weight: 300;
    font-size: 14px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    margin-top: 53px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #2D2D2D;
}

::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #37CAF8;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Lato";
    font-weight: 300;
    color: #2D2D2D;
}

.page-header {
    padding-bottom: 9px;
    margin: 9px 0 16px;
    border-bottom: 1px solid #2d2d2d;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #31B1C5;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar {
    font-weight: bold;
    font-size: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.navbar-inverse {
    background: #31B1C5;
    border-color: #2d2d2d;
}

.navbar-inverse .navbar-nav > .active > a {
    background: #ff7878
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
    font-weight: normal;
    font-size: 22px;
    letter-spacing: 3px;
}

.navbar-inverse .navbar-brand i {
    color: #ff7878;
    font-size: 22px;
    letter-spacing: 1px;
}

/*TILT*/
.tilt {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #2D2D2D;
    background-color: transparent;
}

.tilt:hover {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
    background: url(../img/header-bg.jpg) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
    margin-top: 100px;
    color: white;
    font-size: 70px;
    font-weight: 300;
    letter-spacing: 3px;
}

#headerwrap h2 {
    color: white;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* Dark Grey Wrap */
#dg {
    background: #e0e0e0;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}

#dg h4 {
    font-weight: 700;
}

/* Light Grey */
#lg {
    background: #ebebeb;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}

#lg h4 {
    font-weight: 700;
}

/* Red Wrap */
#r {
    background: #ff7878;
    padding-top: 35px;
    padding-bottom: 35px;
}

#r h4 {
    color: white;
    font-weight: 700;
}

#r p {
    color: white;
}

/* Blue Wrap */

#blue {
    background: #3498db;
    padding-top: 35px;
    padding-bottom: 35px;
}

#blue h4 {
    color: white;
    font-weight: 700;
}

#blue p {
    color: white;
}

/* Footer Wrap */
#f {
    background: #2d2d2d;
    padding-top: 30px;
    padding-bottom: 30px;
}

#f i {
    color: #bdbdbd;
    font-size: 30px;
    padding: 20px;
}

#f i:hover {
    color: #ff7878;
}

/****** SECTIONS *****/

.w {
    padding-top: 35px;
}

.w h4 {
    font-weight: 700;
}

.w i {
    color: #ff7878;
    font-size: 30px;
}

.wb {
    padding-top: 35px;
    margin-bottom: 0px;
}

.wb h4 {
    font-weight: 700;
}

.desc {
    padding-top: 35px;
}

.desc h4 {
    font-weight: 700;
}

.desc i {
    color: #ff7878;
    font-size: 12px;
    padding: 5px;
}

/***** MODAL CONTACT *****/
.modal-content {
    border-radius: 0px;

}

.modal-header {
    background: #bdbdbd;
    color: white;
}

.modal-header h4 {
    font-weight: 700;
}

.modal-body {
    background: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
}

.modal-footer {
    background: #f2f2f2;
    margin-top: 0px;
}

/* ==========================================================================
   Pricing Tables
   ========================================================================== */

.pricing-option {
    padding-bottom: 40px;
}

.pricing-option .pricing-top {
    position: relative;
    background: #222;
    color: white;
    text-align: center;
    font-weight: bold;

    padding: 40px 20px 30px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pricing-option .pricing-top .special-label {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #1abc9c;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding: 3px 0;
}

.special .pricing-top {
    background: black;
}

.pricing-option .pricing-edition {
    text-transform: uppercase;
    display: block;
    font-size: 25px;
    letter-spacing: 8px;
}

.pricing-option .price {
    display: inline-block;
    position: relative;
}

.pricing-option .price sup {
    position: absolute;
    top: 50px;
    left: -10px;
    font-size: 24px;
}

.pricing-option .price .price-amount {
    font-size: 108px;
    letter-spacing: -4px;
}

.pricing-option .price small {
    position: relative;
    left: -10px;
    font-size: 18px;
}

.pricing-option ul {
    list-style: none;
    margin: 0;
    background: #eee;
    text-align: center;
    padding-left: 0px;
}

.pricing-option ul li {
    border-bottom: solid 1px #e1e1e1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pricing-option .pricing-signup {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 10px;
    color: white;
    background: #1abc9c;
}

.pricing-option .pricing-signup:hover {
    background: #ff7878;
}

.navbar-brand > img {
    width: 30px;
    margin-top: -6px;
}

div#carousel-example-generic {
    margin-top: 87px;
}

.form-control-row {

    margin-bottom: 20px;
    margin-top: 20px;

}

@media screen and (min-width: 768px) {
    .modal-dialog {
        width: 1130px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #32BBCB;
}

a:hover, a:focus {
    color: #31B1C5;
    text-decoration: none;
    outline: 0;
}

ul.nav.navbar-nav.navbar-right {
    margin-top: 6px;

}

.btn-link {
    color: #FFFFFF;
}

.nav .caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}

.btn-link:hover, .btn-link:focus, .caret:hover {
    color: #2D2D2D;
    text-decoration: underline;
    background-color: transparent;

}
.nav-2 > li >a:hover{ color: #fff;}
.nav-2 > li {
    border-bottom: 1px;
    border-bottom-color: #232222;
    border-style: dotted;
    border-top: 0px;

}

.container-fluid {
    width: 98%;
}

@media (min-width: 992px) {
    .col-md-2 {
        width: 15.5%;
    }

    .col-md-10 {
        width: 84.1%;
    }
}

.color {
    color: #2d2d2d;
    border-color: #2d2d2d;
}
.row {
    margin-right: -11px;
    margin-left: -11px;
}
.color-page{
    background-color: #fff;
}
tbody {
    text-align: center;
}
.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #2D2D2D;
    background-color: transparent;
}
.btn-nav{
    margin-top: 6px;

}
button.btn.btn-link.dropdown-toggle {
    font-weight: bold;
    font-size: 16px;
}

.fileUpload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    font-size: 18px;
    width: 100%;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    direction: ltr;
    cursor: pointer;
}

.btn-success-upload-file {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    border-radius: 3px 0px 0px 3px;
    width: 100%;
}